*{
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .header-item ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .header-item li {
    display: inline-block;
    margin-right: 20px;
    padding-top: 10px;
  }
  .header-item a {
    color: #fff;
    text-decoration: none;
  }
.header-item{
  padding-bottom: 20px;
}

.search input {
  padding: 10px;
  border: none;
  width: 200px;
  margin-right: 10px;
}
.fa{
  color:black
}
.search{
  background-color: #fff;
  width: 30%;
  margin: auto;
}

